@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800;900&display=swap');
$font-main: 'Montserrat', sans-serif;

$white: #ffffff;
$text-dark: #000000;
$text-muted: #888888;
$border-light: #6ed3df; 
$color-primary-dark: #1A746B;

$color-primary: #127b6c;
$color-primary-light: #55b9bc;
$color-bg: #e2edea;
$color-header-bg: #d8f1f2;
$color-border-blue: $border-light; 

$color-danger: #e74c3c;
$color-success: #127b6c;
$color-warning: #f1c40f;

$shadow-light: 0 8px 20px rgba(0, 0, 0, 0.08);
$shadow-strong: 0 10px 30px rgba(0, 0, 0, 0.15);
$radius-lg: 30px;
$radius-md: 20px;

$color-bg-top: #e6f3f1;
$color-bg-bottom: #ffffff;
$color-blue-light: #dfe8f5;
$color-text-main: #000000;